[2016-03-26 17:51] cedwards opened #7 "Traceback when running with no arguments"
[code]

[2016-03-26 18:31] #7 closed

[2016-04-15 01:54] cedwards opened #19 "nova.load returns exception on /pkg"
[code]

[2016-04-15 03:15] cedwards opened #20 "Report "compliance level" in audit output"
It would be a nice feature to return a "compilance level" value in the audit output. ie;

[code]

[2016-04-15 16:32] #20 closed

[2016-04-15 16:33] #19 closed

[2016-04-15 17:46] cedwards opened #24 "Compliance reports 100% if no checks are run"
When running a suite of checks against distributions that are not supported in the `data` fields, compliance reports 100%.

0 tests run. 0 tests failed / passed. 100% compliant?

[2016-04-15 17:50] basepi commented on #24
Uh, that's weird. It shouldn't, that should get caught by https://github.com/HubbleStack/Nova/blob/7affdbdae966d9165cd631f1df741fc5791743ec/_modules/nova.py#L103

I'll have to test this, I guess.

[2016-04-15 17:53] avb76 opened #25 "Grep module does not support all the test cases"
We need to support also the case when a certain pattern must be contained by the output of `__salt__[file.grep]()`. See an example from the old `cis.py` module:

[code]

[2016-04-15 18:25] cedwards commented on #24
[code]

[2016-04-15 18:34] basepi commented on #24
The weirdness in the output is because the successes were hidden. Closing as expected behavior.

[2016-04-15 18:34] #24 closed

[2016-04-15 18:44] #25 closed

[2016-04-15 20:04] cedwards opened #33 "Lacking support for sysctl value validation"
In addition to the existing modules we also need support for `sysctl` via `sysctl.get`. There are a handful of CIS checks that validate `sysctl` values that we'll need to verify.

[2016-04-15 21:39] basepi commented on #33
#34 has sample yaml

[2016-04-17 18:36] gmiu commented on #33
Fixed in #35

[2016-04-17 18:36] #33 closed

[2016-04-20 19:15] cedwards opened #37 "pkgng pkg audit module"
FreeBSD pkgng supports an audit function that compares installed packages to public vulnerability lists. This is used via `pkg.audit`. I would like a Nova module that will run that audit on supported platforms and parse the output to match the general Nova output.

[2016-04-21 00:22] cedwards opened #38 "certificate validation & expiry audit module"
I'd like to see a module that would read SSL endpoints from the YAML profile and scan them for validity, expiration, etc. This would likely just require an ssl.py (or similar) and a YAML syntax for defining checks.

[2016-04-22 19:03] cedwards commented on #37
Resolved by #39

[2016-04-22 19:03] #37 closed

[2016-04-22 21:38] lornoss opened #40 "Listening network ports"
This would be useful for NERC CIP and PCI DSS reporting and alerting. Could use salt's network.netstat or osquery's listening_ports for gathering information on unix hosts. Could also contain a whitelist to prevent alerting on documented connectivity.

[2016-04-22 21:43] rterbush opened #41 "Doc Issue?"
Excited to help out with this project, but needing a bit of clarity to get started.

Following the docs to get setup, when calling <code>nova.audit</code> (or other nova commands), I get the following:
[code]

If I use instead <code>hubble.audit</code> (or .sync, etc) I start seeing some expected behavior:
[code]

Docs refer to using <code>tags=</code> but appears that it is <code>tag=</code> in t

[2016-04-22 21:56] basepi commented on #40
Whitelist is a must, IMO, so we can actually tell failures from successes. But this is a great idea!

[2016-04-22 21:57] basepi commented on #41
We renamed nova.py to hubble.py to avoid clashing with the openstack nova module built in to salt. Still need to update some of the references in the readme and the like.

Also, thanks for pointing out the tag vs tags issue, we'll get that sorted.

[2016-04-23 00:21] dgmorrisjr commented on #41
I am also excited about hubblestack and really enjoyed the presentation/demo at SaltConf16, looking forward to using this in our environments.  Same issue mentioned by @rterbush above.  if we run hubble.audit with no arguments, I guess i was expecting to see the audit performed against the full contents in the CIS.yaml file (from the salt://hubblestack_nova directory).   Am I mis-understanding how

[2016-04-23 00:41] gmiu commented on #41
What OS is running on your minions?

[2016-04-23 00:50] gmiu commented on #41
So yes, I know what the problem is. The `CIS.yaml` only supports CentOS 7 at the moment. We'll update the test suite in the next period of time (for CentOS 6 in a couple of days or so). My guess is your not using CentOS 6 either (we have just two tests for this one also).

[2016-04-23 00:56] avb76 opened #42 "Support for CentOS 6"
`CIS.yaml` should have at least CentOS 6 support.

[2016-04-23 01:49] gmiu commented on #41
The doc issue is fixed in #43.

#42 was created in order to support CentOS 6.

[2016-04-23 01:49] #41 closed

[2016-04-23 02:05] dgmorrisjr commented on #41
RHEL 6.6 is the OS.

[2016-04-23 02:17] gmiu commented on #41
So, the `CIS.yaml` has the following structure:

[code]

See the `'CentOS Linux-7'` key there: it's the exact string returned by `__grains__.get('osfinger')`.
If, for a test, that string does not match the OS your minion is running, it won't run the test.

[2016-04-23 02:18] cedwards opened #44 "documentation needed for YAML profiles"
It's become clear that the YAML formatting needs documentation. Document how the audit modules ingest the YAML profiles, and what is needed in these profiles for additional platform support.

[2016-04-23 12:50] dgmorrisjr commented on #44
I'd be happy to help create profiles for RHEL. Also our team is planning to create DISA STIG profiles for our OS.

[2016-04-23 21:43] #44 closed

[2016-04-23 21:54] cedwards opened #47 "hubblestack_nova directory structure design"
Wanted to put some more thought and discussion into the directory structure of the `hubblestack_nova` folder. Should we organize sub-directories by module (so that we can include a rendered README)? Should profiles be collected into sub-directories for organization? etc.

[2016-04-24 00:01] dgmorrisjr commented on #47
I do think directories would be helpful.  if the .py and .yaml files are all specific to one distribution (e.g. CentOS Linux-7), then grouping them by distro would be very useful.  What's a little confusing right now is having the CIS.yaml file and the pkg.yaml file.  They both have top-level 'pkg' keys.  If they have a different or conflicting whitelist or blacklist of files (e.g. pkgA in the whi

[2016-04-24 00:28] gmiu commented on #47
@dgmorrisjr, `pkg.py` will search for the `pkg` top-level key in each yaml file found in the `hubblestack_nova` directory and it will merge all the data in a single dictionary.

For a better understanding of the process, see `_get_yaml` and `_merge_yaml` functions. You can find them in any of the nova plugins.

[2016-04-24 00:40] cedwards opened #48 "firewall policy audit module (iptables.check)"
We should put together a firewall policy module that will ensure that certain firewall rules are applied. Initial support for `iptables`; eventual support for `pf`. This module could leverage `iptables.check` execution module.

[code]

[2016-04-24 17:08] cedwards opened #50 "support for optional 'control' key in any module"
In the event that a test is failing, but acceptably so, we should add support for a key `control: reason`. If the `control` key is found within any check it should not be included in the Success or Failure, but an additional section called "Compensating Control".

[2016-04-24 17:30] cedwards opened #51 "Implement 'alert' feature on test failure"
The YAML syntax currently includes an `alert:` key. The idea here is to send a notification upon test failure(s). Initially I imagine support for email and Slack/xmpp via basic returners.

I think we'll have to decide how to alert on multiple failures, ie; one alert including all failures, or one alert per failure.

[2016-04-24 17:32] cedwards opened #52 "Implement 'trigger` functionality"
The idea behind the `trigger:` key is to allow automated remediation by way of states. In effect, if this check fails I want the system to apply a state to remediate the fix automagically.

Because all setups are different, the states will need to be created by the end-user and simply included in their state tree. The trigger, I imagine, would simply run `state.apply state` on the target system.

[2016-04-24 20:13] dgmorrisjr opened #53 "Module to handle arbitrary commands and miscellaneous checks"
would like to be able to look for specific strings/results from the output of a command.  For instance item 1.3.2 for RHEL/CentOS (crontab -u root -l | grep aide) or 1.2.2 for RHEL/CentOS (rpm -q --queryformat "%{SUMMARY}\n" gpg-pubkey).

[2016-04-24 20:24] cedwards commented on #53
We're planning some discussion on how to best handle arbitrary command checks. This is coming, we just want to do it right. Hopefully not too much longer.

[2016-04-24 20:37] dgmorrisjr commented on #53
sounds good - i'm working on adding RHEL 6 to the CIS.yaml file now.  Then will start building profiles for the various DISA STIG for RHEL 6.   When I find other features/enhancements, would you want me to just create an issue like i did for this one?

[2016-04-24 22:40] dgmorrisjr commented on #48
Would it also be possible to add a check for a the default policy, maybe using `iptables.get_policy` to help ensure they are all set to DROP

[2016-04-24 22:49] cedwards commented on #53
Yes please. Any feedback, feature requests or bugs you might have please file them here. We're very interested in community feedback.

[2016-04-24 23:17] dgmorrisjr opened #55 "add ability to add args to grep statements"
in `grep.py`, please add options parameter so that i can use the `-E` option for extended grep.  This would help check for 8.2 in the CIS file.   example command: `grep -E '(\\v|\\r|\\m|\\s)' /etc/issue`

Salt's `file.grep` option permits this as an optional parameter
https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.file.html#salt.modules.file.grep

[2016-04-25 01:05] dgmorrisjr commented on #47
Thinking about this more after editing the CIS.yaml file for a bit.   Many organizations have their systems/servers designated with criticality levels based on the sensitivity of the information they contain/process.  As a result of this, a low-sensitivity set of hosts (e.g. user workstations) may need to be scanned against one profile (e.g. CIS-low.yaml), wheres a high-sensitivity set of hosts (e

[2016-04-25 01:17] gmiu commented on #51
I'd say it's more elegant to have a single alert containing all the failures. Maybe even a full report to be sent after an audit runs. That report should contain all the tags that were tested regardless of there result (success or failure).

[2016-04-25 01:27] gmiu commented on #51
Also, maybe we can have the report to specify the current output of a failed test and the expected output for that test. For example, if `telnet` is installed, the report should say for that test something like:

[code]

The hole idea would be for the user not having to consult the PDFs to see what the result should be for a failed test.

That's my idea for this.

[2016-04-25 01:45] dgmorrisjr opened #57 "Ability to support Multi-Step Inspections"
Here is an example of a muti-step inspection state logic for one of the STIG inspections i've created.  Essentially, step 1 is to get a list of files that meet some criteria, then to check the contents of each of those files for some pattern.

[code]

[2016-04-25 01:51] dgmorrisjr commented on #57
maybe a mutli-step module, would allow you to define the file criteria in the yaml, then allow you to specify a state file to execute against the list of files?  maybe something like this:

[code]

[2016-04-25 02:40] dgmorrisjr opened #58 "sysctl module should record not compliant when unknown key found"
On a system that doesn't have a sysctl key defined, hubble.nova doesn't provide any feedback.

here is the output from the hubble.nova command:
[code]

Here is the output of running the `/sbin/sysctl` command directly, indicating that the key does not exist in the config file.
[code]

Further testing has shown that including entries for which there are no tags to check such as the 4.2.4 above, wil

[2016-04-25 03:48] cedwards opened #60 "outline benchmark coverage per platform in README"
We need to somehow track what percentage coverage we have for a platform for each major benchmark. Example: Ubuntu-14.04 CIS: 80%, RHEL-6 CIS: 40%, etc.

[2016-04-25 03:55] gmiu commented on #58
@dgmorrisjr, is the grain value for `osfinger` set correctly in the yaml file you're using here?

[2016-04-25 04:10] dgmorrisjr commented on #58
@avb76, I believe so, I've looked over this multiple times and tried many variations... certainly possible i'm overlooking/missing something.

Here is the block from the yaml file.  When this block is commented out, everything works fine:

[code]

[2016-04-25 04:17] gmiu commented on #58
Yeah, it should be `net.ipv4.conf.all.log_martians` instead of `net.ipv4.conf.all.log_martian` in the yaml file. I'll correct that now. But you should still get a failure on this rule. I'll do some more tests on this one.

[2016-04-25 04:17] cedwards commented on #58
A quick check shows that `log_martian` isn't valid, but `log_martians` (plural) is valid. I'm not sure if that's a typo in the PDF or in the translation to the YAML. In any case we need to better capture unknown key errors and @avb76 will take care of it.

(@dgmorrisjr if you're interested we have a Slack team for HubbleStack which may make some of this back and forth easier. Check out the footer

[2016-04-25 04:28] dgmorrisjr opened #61 "grep module should allow use for a full pattern"
In pam.d files, the pam libraries can be listed multiple times and depending on what you are tyring to enforce, you may want to specify which specific library line you want to search on.  To do this, we need more expanded use of patterns.

given this system-auth line:
[code]

CIS-6.3.4 is looking for the specific instance of `password    sufficient    pam_unix.so` and not `session     required

[2016-04-25 04:47] dgmorrisjr commented on #58
I fixed the typeo and that one seems to work now.  I had copied the block from the CentOS Linux-7 block.

[2016-04-25 04:52] gmiu commented on #58
I found another bug while trying to fix this one: if one of those two sysctl checks fails and the other one succeeds, you'll get the same tag for both `Failure` and `Success` lists. Fixing this one as we speak.

[2016-04-25 04:54] gmiu commented on #58
Fixed in #62

[2016-04-25 04:55] #58 closed

[2016-04-25 05:08] avb76 opened #63 "`hubble.audit` fails if a bad yaml file is located in the `hubblestack_nova` directory"
`_get_yaml` function in each nova plugin will try to load all the yaml files in the `hubblestack_nova` directory. If at least one of the yaml files in there is having a bad yaml syntax, the `except` block will be reached and an empty dict will be returned.

I'd suggest the `yaml.parser.ParserError` exception to be treated for each opened file.

[2016-04-25 16:34] cedwards opened #67 "support globs & lists in osfinger key"
We're starting to find some duplication in data between distributions (usually within the same os family). It would be nice to support globbing and lists in the osfinger setting:

[code]

[2016-04-25 16:36] cedwards opened #68 "Move YAML import into hubble module"
Instead of loading the YAML within each audit module, this should be moved into the core hubble module.

[2016-04-25 16:39] cedwards opened #69 "Support targeting / mapping via top.nova"
The ability to target and map multiple YAML (`.nova` files) for different profiles, let's support creating a top-file like map. eg:

[code]

Then support audits like:

`salt \* hubble.audit` (apply topfile)
`salt \* hubble.audit webserver` (apply webserver.nova)

[2016-04-25 16:45] gmiu commented on #63
@basepi, any thoughts on this one? Should I put the error string in the log?

[2016-04-25 21:18] basepi commented on #47
@cedwards and I talked at length about these issues today. I think we're going to make it official that all nova modules will require accompanying yaml. For checks that don't actually require configuration (like the `pkgng_audit.py`), the yaml will basically just be a top-level key.

We're then going to move the yaml loading into hubble.py and add the ability to target by yaml file using hubble.au

[2016-04-25 21:31] cedwards opened #71 "SCAP XML feed parser and audit module"
I want to parse the SCAP (Security Content Automation Protocol) XML feed on a (configurable) schedule and compare installed software for announced CVEs. This would require pulling and parsing the SCAP XML, pulling out the data regarding vulnerable software and comparing that to installed versions / checksums / etc. This should also have an optional `alert` and `trigger` key for reaction.

Eventual

[2016-04-25 21:34] basepi commented on #51
Full report is actually really easy to accomplish with existing returners. `alert` in the YAML is probably only needed if you want to alert on specific checks (would be used sparingly).

[2016-04-25 21:34] basepi commented on #51
It may not even make sense in the YAML, since we can so easily just use `return: slack` or whatever for full report alerting.

[2016-04-25 21:36] basepi commented on #57
These types of checks have been on my mind a lot. There are even a few of them in the CIS docs, though usually they only consist of a command or two, searching for things in the output, etc.

I still haven't come up with a good solution for general-use YAML syntax for these types of checks, but I do want to come back to it after I make the core platform changes being discussed in #68 and #69 and t

[2016-04-25 21:41] basepi commented on #61
Is this caused by https://github.com/HubbleStack/Nova/issues/55 ?

[2016-04-25 21:43] basepi commented on #63
I think I'll take this one as part of #68. I'm going to move the yaml loading into hubble.py to allow for #69. I'll probably just report yaml loading errors in the output of the audit, under failures.

[2016-04-25 21:53] cedwards commented on #51
The thinking here is that `alert` is not common, but optional and allows for alerting for high-priority items. ie; I want a slack notification if X fails, separate from the defined returner.

[2016-04-25 21:59] basepi commented on #51
Right. So I think it's probably OK to just alert whenever we hit one, rather than trying to batch and be fancy like that.

[2016-04-26 00:17] dgmorrisjr commented on #47
how will that structure then allow for different profiles of inspections, such as CIS Level 1 vs CIS level 2, or STIG HML vs HMM vs MHL?  We you add additional Tags in the yaml for that further categorization?  I also think that this structure will be more difficult for review by security evaluators.  If the yaml files are organized in a way that is more consistent with they way the security stand

[2016-04-26 00:22] dgmorrisjr commented on #71
We were talking about this today.  We currently have salt states we use for deploying openscap and updating defintions, then we have scheduled states to run scans on a regular basis.   having this incorporated with hubblestack would be great.

[2016-04-26 00:37] cedwards commented on #71
@dgmorrisjr I'd be interested in learning more about how you're currently using openscap. Maybe there are some practices we could integrate into HubbleStack.

[2016-04-26 00:39] dgmorrisjr commented on #61
well... in #55 the grep Extended Grep patters are not supported by regular grep.  So #55 was requesting the ability to pass `-E` as an argument from the YAML file to the `file.grep` module.   The grep pattern above does not require the `-E` argument when run at the command line or using `file.grep`.

Here is an example of running `file.grep` at the command line:

[code]

[2016-04-26 01:45] cedwards commented on #47
I had a discussion with @dgmorrisjr in Slack today. I think we're on the same page now. I'd like to see something like `benchmark-osfinger-level-(un)scored.yaml`. I think this aligns with how we want to be able to target these using the top-file idea.

[2016-04-26 15:06] cedwards commented on #47
Initial work toward this restructuring is in #73.

[2016-04-26 16:01] basepi commented on #61
But it's not working in hubble? Hmmmm, I'll have to test this specific example at some point.

[2016-04-26 19:06] cedwards commented on #71
Perhaps the simplest solution here is to write an `oscap` execution module. I'll create a separate ticket for that for exploration.

[2016-04-26 19:08] cedwards opened #74 "oscap execution module (open-scap.org)"
Leveraging existing security tools can help us boost capability without a lot of development. `oscap` might be a good execution module addition. With just that contribution we could execute scans across an entire environment and use returners for reporting to other dashboards.

[2016-04-26 22:30] SaltyCharles opened #75 "Adding hubblestack pillar data doesn't allow audits"
@basepi
[code]
Using the above details in pillar prevented audits from working, resulting in the following:
[code]
Once the pillar was removed, sync and audit worked without issue.

[2016-04-26 23:12] basepi commented on #75
I'm betting I made a mistake in my URL parsing for the nova dir. I'll look into this tomorrow.

Note, you can use triple backticks ``` to do multiline code blocks on github. I edited your post to use them, edit it yourself if you want to see how it's done.

[2016-04-26 23:38] dgmorrisjr commented on #71
I asked one of my team members to join the hubblestack slack channel - Chris Reguerin.  He is who is leading our openscap work for our team.

[2016-04-27 00:15] SaltyCharles commented on #75
Cool cool... I didn't even look at the preview

`shame`

[2016-04-27 20:18] cedwards opened #80 "in-profile documentation"
We need to put some basic documentation inside the profiles (header).

[2016-04-27 21:14] gmiu commented on #42
Fixed in #79

[2016-04-27 21:14] #42 closed

[2016-04-28 01:42] #75 closed

[2016-04-28 01:43] #68 closed

[2016-04-28 21:01] basepi opened #87 "YAML collisions report in lost checks"
The yaml merging in the nova modules is too naive. Since we're splitting out distros into their own yaml files, when we merge the data, checks with the same ID overwrite each other.

I'm going to modify the merging code to treat these checks as a list so that duplicate IDs can exist.

[2016-04-28 22:25] cedwards opened #88 "pkgng_audit failure output cleanup"
Currently the pkgng_audit module (FreeBSD only) outputs failures as a long string. I'd like to parse the output better.

This is the current (`--out json`) output of a failure.

[code]

Along the lines of what I'd like to see...

[code]

I'd like to standardize (as possible) the output between the multiple platform methods.

[2016-04-29 02:57] cedwards commented on #63
Is this still relevant?

[2016-04-29 16:24] scottjpack opened #89 "Namespace profiles in return data"
When parsing the data into dashboards/reports it would be useful to have the profile that each check came from.   Something like the following:

[code]

[2016-04-29 16:45] basepi commented on #63
No. If an error occurs when loading yaml, it will be reported in the output of hubble.load

[2016-04-29 16:45] #63 closed

[2016-04-29 16:47] basepi commented on #89
Hmmm. This hurts readability as a default setting. I may play with it a little and see if we can find something more readable, or make this config-gated.

I should also note this is actually a non-trivial change. The modules don't know the source of their checks as things stand. May be another fix that must be made across all the various modules.

[2016-04-29 19:45] #87 closed

[2016-04-30 01:01] cedwards opened #94 "if running hubble.audit with no options return usage output"
report usage info if run with no arguments

+ and no map file found.

[2016-04-30 23:36] basepi commented on #94
Didn't we want hubble.audit with no arguments to run top.nova? Additionally, for now I think having it just run all the audits is useful for testing until we get topfiles in place.

[2016-05-01 17:04] cedwards opened #97 "[feature] data mine the local XML or parse RHSA web data"
tl;dr: MOAR data

There's a lot of useful information that we could use to dashboard CVE data, we just aren't mining it yet. Let's mine it for items like:

[code]

... and anything else we can come up with.

[2016-05-01 17:33] dgmorrisjr commented on #97
Agreed!  I was thinking the same thing when i saw the output from the scan example in slack that you posted.  Definitely the severity and packages are very important.

[2016-05-01 20:04] dgmorrisjr commented on #97
Possibly include some data in the header - this will be useful for comparing scans that are run at different times:

[code]

[2016-05-01 21:19] cedwards commented on #74
This is done. There is now a (not yet upstreamed) `oscap.py` execution module. This requires the `oscap` binary and an input XML file with the `salt://` path.

[2016-05-01 21:19] #74 closed

[2016-05-03 15:13] basepi opened #100 "Remove `alert` and `trigger` from the yaml"
Right now we've been adding a generic `alert` and `trigger` field to every audit check in the YAML. We should remove them. Once we implement the alert/trigger behavior, we don't want every state alerting/triggering. (Plus, these settings are currently set to garbage values)

Should go through all non-sample yaml files and remove `alert` and `trigger`.

[2016-05-03 15:20] gmiu commented on #100
I can take care of this.

[2016-05-03 16:09] basepi commented on #100
Thanks @avb76!

[2016-05-03 18:49] cedwards commented on #48
Initial work for this (minus the default policy support) was completed in #99

[2016-05-03 22:04] avb76 opened #102 "We may need a validator for iptables rules"
When `firewall.py` checks for an incorrect written iptables rule, `iptables.check` returns `False`. This might mislead the user. The firewall plugin should specify somewhere that that rule had an incorrect syntax.

[2016-05-03 22:15] gmiu commented on #100
Fixed in #103

[2016-05-03 22:15] #100 closed

[2016-05-03 22:20] basepi commented on #102
Is there already a way to validate these rules? An existing library or something? I feel like validating iptables syntax is a huge task!

[2016-05-03 22:55] gmiu commented on #102
[code]

[2016-05-03 22:56] gmiu commented on #102
@basepi, `iptables.check` lets the user know when the syntax is wrong. But I'm not sure yet how to pick that error message inside the `audit` function. Also, I found some iptables library for python but I haven't looked at it yet.

[2016-05-04 00:34] cedwards commented on #50
I think this piece is complete enough for wider testing. Thank you! (Closed by #106 ).

[2016-05-04 00:34] #50 closed

[2016-05-04 00:35] cedwards opened #107 "[feature] 'control' output show include description"
Could the `control` key output in the return be updated to include the original description as well as the control value? This would make it easier to know at-a-glance _what_ you're controlling.

Maybe something like:

[code]

[2016-05-04 00:46] cedwards commented on #107
I'm also getting duplicate output in my tests now. Linking this back to #50

[2016-05-04 01:41] #107 closed

[2016-05-04 15:45] basepi commented on #102
Yeah, unfortunately that Error log won't be accessible from the calling context. You may have to write a custom version of iptables.check which returns error information, rather than just False.

[2016-05-04 21:05] basepi opened #111 "Add support for compensating control configuration as separate files"
New top-level yaml key, `control`, which will be processed by hubble.py, not the hubble modules. Once the hubble modules return their results, hubble.py will inspect the failures for any that match any control config which was passed in as part of the run, moving those failures into the `Controlled` key instead.

This will allow targeting control configs by host via the topfile.

Potential format:

[2016-05-04 21:42] avb76 opened #112 "Display the reason for failing a check"
Until now, we have identified that this would be appropriate for the `stat` plugin.

[2016-05-04 21:51] #69 closed

[2016-05-04 22:46] gmiu commented on #102
Fixed in #114. It's not a validator for iptables rule, just a new interpretation of the results from `iptables.check`. Closing this for now.

[2016-05-04 22:46] #102 closed

[2016-05-05 01:06] cedwards opened #116 "top file support in Windows causes Traceback"
[code]

[2016-05-05 02:26] #116 closed

[2016-05-05 03:06] grimamethyst opened #118 "Firewall Rule Audits"
As part of PCI compliance, regular reviews of all prod firewalls are required.  However, this usually involves spending time going through the entire config file for each firewall.  That format is also generally impossible to hand off to auditors without copying out each individual rule from the config file.  Could the firewall tool built into Hubble include a feature that would pull in the rules

[2016-05-05 03:14] grimamethyst opened #119 "PF firewall support"
Extend the existing firewall module to support PF (versus creating a separate module).

[2016-05-05 05:19] avb76 opened #120 "Idea regarding iptables rules validation"
An idea just crossed my mind regarding this: what if we don't put the actual rule in the YAML.
We could support a dictionary, in the YAML, for the rule to be checked and, in that dictionary, to put the pieces needed to build that rule.
Then, we could use [`iptables.build_rule`](https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.iptables.html#salt.modules.iptables.build_rule) to crea

[2016-05-05 05:21] gmiu commented on #120
I can't assign more than one, so this is for @basepi also

[2016-05-05 15:36] gmiu commented on #120
Or we could wait for this to be fixed: https://github.com/saltstack/salt/issues/33059

[2016-05-05 16:05] basepi commented on #120
I think that's a great idea. Including the rule is nice because we can be precise, but it also allows for typos. If we construct the rules ourselves it might be less error-prone.

[2016-05-05 23:06] gmiu commented on #120
@cedwards, what are your thoughts on this?

[2016-05-05 23:13] avb76 opened #123 "Idea: display only `Failure`/`Success`/`Controlled`"
I think it would be useful (especially for testing) to show, using kwargs, just some of the results. Something like:
- `-f` /  `--failure`: shows only the `Failure` list
- `-s` /  `--success`: shows only the `Success` list
- `-c` / `--controlled`: shows only the `Controlled` list

[2016-05-05 23:36] cedwards commented on #120
+1

[2016-05-05 23:57] cedwards commented on #123
I'm open to the idea, but unsure the best implementation. @basepi ?

[2016-05-06 16:01] basepi commented on #123
Right now we already have `show_success`. I see no reason anyone would ever want only the successes and not the failures. Failures are why we're here.

Controlled is a little bit weirder. Right now we treat it as success for compliance computation, but it's not really the same as success....

I'm thinking we add a new config value, `hubblestack.nova.treat_controlled_as_success`, which will default

[2016-05-06 17:34] gmiu commented on #123
I came with the idea because I had to scroll up to the top of the results just to see just one result I was looking for. BTW, is targeting just some of the checks available anymore (as we did it at the beginning, with regular expressions: `hubble.audit CIS-4.2.\*`)?

[2016-05-06 17:36] gmiu commented on #123
And, if `hubblestack.nova.treat_controlled_as_success = False`, they will be counted as failures?

[2016-05-06 17:46] gmiu commented on #120
Then I will work towards this.

[2016-05-06 19:44] basepi commented on #123
Yes, targeting is still available, both in hubble.audit, and in topfiles.

No, controlled will never be counted as failures. This is a confusing configuration value. Maybe instead we should just add `show_controlled` as well.

I understand that right now you're interested in what's at the top (because Failures are generally at the bottom). But in the wild, I think people will only be interested in

[2016-05-06 19:45] basepi commented on #123
And I should also note that in the wild, people will actually control checks and/or update their boxes until there are no failures. Then the output will be much shorter (at least with `show_success` and `show_controlled` set to False).

[2016-05-06 19:49] basepi opened #125 "Standardize on lower-case profile names?"
I don't like the case sensitivity of our profiles right now. I'm thinking we standardize on lower-case.

cis-rhel-6-l1-scored.yaml

Thoughts? The current version is so easy to typo.

[2016-05-06 19:53] gmiu commented on #125
+1 (I hate typing caps)

[2016-05-06 20:24] cedwards commented on #125
Do it.

On Fri, May 6, 2016 at 1:53 PM, Gabriel Miu notifications@github.com
wrote:

[2016-05-06 20:32] SaltyCharles commented on #125
I'm checking but there may be some constraints on Windows (although we can make exceptions as needed for these).

[2016-05-06 20:39] basepi commented on #125
windows is case-insensitive, isn't is? Keep us posted if you run into any problems, but I don't expect there to be any.

[2016-05-06 21:44] #125 closed

[2016-05-07 18:18] dgmorrisjr commented on #120
RE blacklisting - i suppose it's nice to be able to enumerate a list of rules we don't want.   but really this has some shortfalls.
1. Typo's are already listed above
2. Variations - how many variations of a FTP rule could exist and how many do you want to be able to enumerate in this blacklist?
3. How do you alert on rules that are present that you did not intend to have on the system?  How do yo

[2016-05-08 16:46] dgmorrisjr opened #127 "grep module whitelist returns failure when a file does not exist"
Technically, i think there is no error in the current module...because if a file doesn't exist, then the line you are looking for can't be there.

But from a business logic / compliance perspective there is an issue here.

For instance, If a package is NOT installed, then the configuration file should not be present.  If it's not present, then no need to inspect the file.

But if the package is in

[2016-05-08 17:18] dgmorrisjr opened #128 "grep module match_output should support listing multiple values or using grep for the output"
Example:  in `sshd_config`, consider the parameter `PermitEmptyPasswords`.

The possible values for this could be `No` or `no` or `Yes` or `yes`.

when doing an inspection as a blacklist, i want to ensure that this parameter is either commented out, not present, or does not contain either `Yes` or `yes`

if I configure the check in the following way:
[code]
it will pass if the actual value is `yes

[2016-05-08 17:29] gmiu commented on #128
For multiple variations on `yes`/`no`/other cases, it shouldn't be hard to modify the `grep` audit to support a list for `match_output`. The hard pard is dealing with commented lines I guess: we'd have to know all the syntaxes of the config files to be checked in order to know which character is used for commenting. It's not `#` in all config languages. After defining a list of commenting characte

[2016-05-08 17:37] dgmorrisjr commented on #128
The check i'm running here is in the blacklist section, i got to thinking about just specifying the options directly in the pattern section as well... so I tried this:

[code]

When the value in my `sshd_config` file is this:

[code]

Here is my output from hubble:

[code]

[2016-05-08 17:43] dgmorrisjr commented on #128
@avb76 I agree with you on the comments in the config file.  For this reason, in the pattern statement, in the case for `sshd_config`, i use a beginning of line anchor `^` which causes the search to ignore the commented lines.  I tested multiple scenerios with the various checks i've tried above:

`PermitEmptyPasswords no`
`PermitEmptyPasswords No`
`PermitEmptyPasswords Yes`
`PermitEmptyPasswords

[2016-05-08 17:49] gmiu commented on #128
We use the `file.grep` salt module. Have you tried `salt-call file.grep /etc/ssh/sshd_config '^PermitEmptyPasswords\s+(yes|Yes)'` on that system?

Later edit: I put the pattern inside quotes.

[2016-05-08 17:52] gmiu commented on #128
And regarding the commented lines, I forgot about the `^` at the beginning of the pattern :)

[2016-05-08 18:26] dgmorrisjr commented on #128
I did look inside the python module and saw that... but after you mentioned it, I went ahead and tried many variations trying to get the `file.grep` module to work the way you'd expect...   but I think this example really helps illustrate something:

[code]

When I run grep -E it works as you'd expect.

However, when doing the same thing using the `file.grep` module, I tried to use the `-E` kwarg

[2016-05-08 18:26] gmiu commented on #128
@dgmorrisjr, after looking a bit over how `file.grep` salt module works, this is the correct way to search for that regex:

[code]

You have to pass the `-E` option in order to support regular expressions. We just use `file.grep` with no options.

And to answer your question, I think is best to use a list for `match_ouput`. Kwargs require some extra work in `hubble.py`. Using lists, we have to mod

[2016-05-08 18:28] dgmorrisjr commented on #128
I'm good with a list as well at the moment. Not sure yet if i'll come up with other use cases where a list in the `match_output` wouldn't work.

[2016-05-08 18:29] gmiu commented on #128
I used single quotes over doubles quotes. Also, from there usage examples, you'd have to use `--` before passing the option.

[2016-05-08 18:31] dgmorrisjr commented on #128
yeah - i saw the `--` in your example, but when looking at the documentation here:
https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.file.html#salt.modules.file.grep

I didn't see anything that indicated the `--`.  good to know - Thanks!

[2016-05-08 18:34] gmiu commented on #128
[code]

Looks like this goes in your way too. I looked in the docstring from the code of `file.grep`. This iss odd: usually, that docstrings in functions match the ones in the web docs.

[2016-05-08 18:37] dgmorrisjr commented on #128
super - thanks!

[2016-05-08 18:39] gmiu commented on #128
Your problem was with the pattern. If you use only one set of quotes, the module read the whole pattern as one string, but it will pass the string without any quotes to the `grep` call inside `file.grep`. If you'll look inside the code, `cmd.run` is used to call `grep`. So, any special char will not be escaped.

[2016-05-08 18:42] gmiu commented on #128
Regarding `match_output` as a list, we might want to hear another opinion from @basepi since he wrote designed `grep.py`.

[2016-05-08 18:50] gmiu commented on #127
I confirm that `match_ouput` does not call another greping. The plugin seems to do well if a file that does not exist is checked in the blacklist. But, I don't think understand all the aspects of your problem :)

[2016-05-08 18:55] dgmorrisjr commented on #127
in the situation i described above, the STIG (similar to a CIS control) is looking for the `-s` flag in the `server_args` line.

Creating this check in the whitelist for grep works great **IF** the file exists.  Which is the #2 Success situations I described above.  In this case the targeted server is compliant.

In Situation #1, if tftp is NOT installed, then the `/etc/xinetd.d/tftp` will not exi

[2016-05-08 18:57] dgmorrisjr commented on #127
just in case, here is the link to the STIG Control:
https://www.stigviewer.com/stig/red_hat_enterprise_linux_6/2015-05-26/finding/V-38701

[2016-05-08 19:13] gmiu commented on #127
Just to be clear, from what you're saying, I understand that the system is compliant only if one of the following:
- `tftp` is not installed
- `tftp` is installed and `-s` option is set in the config file.

[2016-05-08 19:14] dgmorrisjr commented on #127
correct.

[2016-05-08 19:39] dgmorrisjr commented on #80
I took a stab at some header documentation in the STIG profile i just submitted as a pull request

[2016-05-08 19:54] gmiu commented on #127
Maybe adding a `does_not_match_output` might solve the solution. But it depends on how generic are this kind of checks. In the end, adding the new option shoudn't be bad. If it's there, god. If it's not, better :) Maybe @cedwards or @basepi have other solutions for this kind of checks.

[2016-05-08 20:01] gmiu commented on #128
I think a new optional parameter in the profile check would do better for this: `case_sensitive: False`. When the plugin sees this, it would use `file.grep` with the `-i` flag.

[2016-05-08 20:04] cedwards commented on #71
I think the main idea here has been implemented. There is more to do, but those can be handled in new issues. closed by #74

[2016-05-08 20:04] #71 closed

[2016-05-08 20:10] dgmorrisjr opened #130 "Idea: jinja support in yaml profiles"
In the profiles, since this is within salt, do you think jinja would be supported for heavily repeated text?  for instance, adding an `osfinger` variable at the top of the YAML, then the variable reference everywhere below?

[2016-05-08 23:13] dgmorrisjr commented on #123
so, currently, are inspections that include the `control` tag only organized into the control section of the output?  i.e. not grouped together with successes if the test would normally be a success?

[2016-05-09 01:20] cedwards commented on #123
`control` checks are simply skipped and put into the "Controlled" section of the output. They are not listed at all under Success or Failure.

[2016-05-09 01:26] dgmorrisjr commented on #123
Should they be executed, and if successful, then go under success.  but if they fail, then go under control?

[2016-05-09 01:28] dgmorrisjr commented on #61
in STIG inspections, the -r option is something i'm seeing quite often.  For example:

[code]

[2016-05-09 02:22] cedwards commented on #123
I'm curious @grimamethyst opinion here.

[2016-05-09 02:37] gmiu commented on #123
@cedwards / @dgmorrisjr, I think it's better just to skip the `control` checks. Why wasting time on making a check that doesn't matter anyway? Even if it's a small amount of time, it's still wasted (I usually try to follow the perfection). In the current design, for a `tag_data` that contains the `control` key, we just `continue` the `for` loop that iterates through the tags to be checked. No time

[2016-05-09 02:46] dgmorrisjr commented on #123
**IF** the inspection with a control option were processed, here is a situation where I think the tag is a bit helpful:

[code]

for the STIGS, in most systems, ip6tables must be running.   however, there are two situations where the control is not applicable.   So ideally here is the logic I think would be helpful:

if it's under the failure group, then you have to sift through all of those to fi

[2016-05-09 16:18] basepi commented on #120
A true whitelist might be the way to go on this one, where anything not on the whitelist should be blacklisted.

[2016-05-09 16:20] basepi commented on #127
Maybe just a `success_on_file_missing` flag or something?

[2016-05-09 16:22] basepi commented on #128
Sounds like https://github.com/HubbleStack/Nova/issues/55 might resolve this. Is that correct?

It would also be pretty trivial to allow for regex on the match_output piece.

[2016-05-09 16:23] basepi commented on #130
We currently don't use the renderer system at all. We just `import yaml` and `yaml.safe_load` directly. That said, in the future we could probably implement basic renderer support using the shebangs that salt uses.

[2016-05-09 16:28] basepi commented on #123
@dgmorrisjr What would this logic look like? Would it be a bash command (like with `unless` and `onlyif` in salt)? I've thought about having specific logic-based control but haven't thought of a really good way to implement it.

I should note that for the separate control configs, the audits will likely be run, and only failures will end up in the Controlled list. This is because separate control

[2016-05-09 19:51] basepi opened #131 "Improve openscap module return structure"
We should split out the failures/successes from openscap properly so that we can compute compliance percentage better, and report successes if desired. We also want to organize the data by tag (CVE number?) so that we can control on those checks.

@cedwards Any other thoughts here?

[2016-05-09 19:53] cedwards commented on #131
This is a good start. I'd like to do more, ie; #97, but this is a step in the right direction.

[2016-05-09 19:54] basepi commented on #131
I may move on to #97 if I have time. I want to improve the basic reporting first.

[2016-05-09 20:02] basepi commented on #53
I'm going to work on spec'ing out a module and yaml syntax for this.

[2016-05-10 12:29] dgmorrisjr commented on #53
as you are thinking of the logic for this, if you have a `match_output` section, sometimes inspections are looking for specific output or patterns; othertimes they are looking to make sure that certain output is NOT present.

[2016-05-10 12:40] dgmorrisjr commented on #123
I think supporting command requisites could be one way of doing that.  maybe something like this:

[code]

but within the unless construct, is it possible to specify an OR or an AND logic?

[2016-05-10 12:44] dgmorrisjr commented on #55
I understand that `grep.py` is currently using `file.grep`.   and being able to use grep's options would add a lot of power to what `grep.py` can do today.    There are other inspections i'm running across that require the use of `egrep`.  So i'm thinking that the module for running arbitrary commands could be used for situations where the `egrep` statement are required.

[2016-05-10 12:45] dgmorrisjr commented on #127
sure that would work

[2016-05-10 15:30] basepi commented on #53
Right. I expect it will have an arg for flipping between matches being treated as success, or matches being treated as failures.

[2016-05-10 15:35] basepi commented on #123
In salt, `unless` doesn't support a list, only a single command, so AND and OR aren't a thing there. I'll have to think if there's a way to make it happen for us.

[2016-05-10 15:36] basepi commented on #55
Yeah, that will probably be the best route. But you'll be able to handle most of the grep stuff once I implement these arguments.

[2016-05-11 11:56] dgmorrisjr commented on #128
I'm excited to try this out next time i get a chance to work on the STIG profiles!

[2016-05-11 12:02] dgmorrisjr commented on #123
Got it, more than anything I was trying to provide a working example of the types of checks that might need to be done.   I think there are simpler situations where there is just one value you want to validate against...    but the condition (e.g. the unless) could be:
- value in a file(s) (e.g. setting in sysctl),
- the presence of a file(s) (e.g. file in /etc/modprobe.d),
- thx output of a comma

[2016-05-11 15:14] basepi commented on #123
Yeah, I understand where you're coming from. I'll have to think on this.

[2016-05-11 20:48] #55 closed

[2016-05-11 20:48] #128 closed

[2016-05-11 21:06] toomanyonhere opened #136 "grep all files in modprobe.d directory?"
CIS-1.1.1.x are to disable a filesystem modules from getting loaded.  These could be put in any file... my employer's baseline is to put them in a file called /etc/modprobe.d/crisp.conf, the CIS says to put them in a file called /etc/modprobe.d/CIS.conf.

Instead of trying to guess that they are all in CIS.conf, when there really isn't a Linux standard, can we grep all the files in the directory?

[2016-05-11 22:41] basepi commented on #67
Implemented, though you have to use comma-separated lists, not pythonic lists. (Lists cannot be keys in dictionaries)

[2016-05-11 22:47] basepi commented on #136
Does this work if you just use the existing grep module, but with `-r` in the `grep_args`?

[2016-05-12 00:25] #67 closed

[2016-05-12 11:09] gmiu commented on #120
I propose this YAML format:

[code]

[2016-05-12 11:15] dgmorrisjr commented on #120
Looks good, and would it follow the same structure as the salt states for defining firewall rules? For instance, here an example that uses a number of firewall options:

[code]

[2016-05-12 12:35] gmiu commented on #120
Not quite as the `iptables` salt state module: here are some examples for [`iptables.build_rule`](https://docs.saltstack.com/en/latest/ref/modules/all/salt.modules.iptables.html#salt.modules.iptables.build_rule). But, I find this doc very light. For a detailed usage, here is the full code for the [`iptables`](https://github.com/saltstack/salt/blob/develop/salt/modules/iptables.py) salt execution m

[2016-05-12 16:15] toomanyonhere commented on #136
Thanks, yes that did it!

[code]

Thanks!

[2016-05-12 16:15] #136 closed

[2016-05-12 21:32] basepi commented on #136
Perfect! Glad I could help.

[2016-05-13 16:14] #111 closed

[2016-05-13 16:52] gmiu commented on #119
@grimamethyst, it looks like there is no salt execution module for `pf`.

Do you know if there is a `pf` command that checks the existence of a rule given as parameter? I'm leaving `grep` over `pf.conf` as a last solution. I don't have any experience with `pf`, but I guess a rule that does a certain thing might come under different formats, so `grep` wouldn't work that well. Please, correct me if

[2016-05-13 17:29] cedwards commented on #119
If there is no existing `pf` execution module, perhaps we should put that first. I realize that will be a bigger project, but we also don't need this _right_ away.

[2016-05-13 20:16] cedwards opened #140 "minion-side reactor or engine for pulsar"
We need to use a minion-side reactor or an engine to capture file system event data (inotify) and send to splunk. Current implementation is master-side reactor, which isn't going to scale.

[2016-05-17 07:37] gmiu commented on #48
@dgmorrisjr, I'd like to hear more of your thoughts on using a default policy?

[2016-05-17 13:42] dgmorrisjr commented on #48
security best practices is that we should set the default policy to "DROP", but really they can be set to the appropriate value for your organizationally defined value.   The DISA STIGs all specify that DROP is the appropriate value.  This helps reinforce a deny all traffic not explicitly listed type of policy.

in the iptables rules, they take the form of:

[code]

I think the rule structure for

[2016-05-17 19:03] #53 closed

[2016-05-20 01:07] cedwards opened #145 "new (experimental) cve scan idea"
I'd like to explore querying the vulners.com vulnerability API for our CVE scans. This means a step away from `openscap` and into a self-contained parser and comparison module. The benefits I see here (assuming vulners.com remains available) is that we can do real-time API queries (vs static hosted files), and it supports a wide range of Linux distributions.

What I imagine is a comparison of the

[2016-05-20 01:08] cedwards commented on #145
@thehoule - can you take a look?

[2016-05-20 02:06] thehoule commented on #145
Yep!

[2016-05-22 19:49] dgmorrisjr opened #147 "command.py module returning a TypeError: argument of type 'NoneType' is not iterable"
Just starting to use this module.  Read the docstring in the py file to get started.

Here are the first two entries I created in the stig profile i'm creating:
[code]
NOTE: in the V-38580 block above, i tried with the `match_output:` uncommented and commented out to see if that had anything to do with the error output.   In that example, the pass condition for the STIG inspection is that the egre

[2016-05-22 19:53] dgmorrisjr commented on #147
Here is the output from the minion in debug mode:

[code]

[2016-05-22 19:54] dgmorrisjr commented on #147
And i did a pull from the hubblestack nova develop branch before starting today

[2016-05-23 16:14] basepi commented on #147
I think the problem is an indentation issue in your yaml.

The arguments under the command must be indented further, otherwise yaml interprets it as part of the same dictionary, and sets the command value to None. This is a pretty common issue with salt as well; in fact there's a dedicated entry in the FAQ: https://docs.saltstack.com/en/latest/topics/troubleshooting/yaml_idiosyncrasies.html#indent

[2016-05-23 17:44] dgmorrisjr commented on #147
Okay - i'll try that out

Thanks,

Dan Morris
443-992-2848

On Mon, May 23, 2016 at 12:14 PM, Colton Myers notifications@github.com
wrote:

[2016-05-26 17:22] #127 closed

[2016-05-30 11:25] gmiu commented on #38
@cedwards, we spoke about this and we've settled for a runner that does the ssl checks. But, thinking on how to implement this, the next question popped into my mind:

Should we create a separate runner just for ssl checks or should we create a runner similar to the `hubble` module, that receives different plugins (in this case, the plugin for ssl)? The second case might be useful if we'll have mo

[2016-05-30 11:26] gmiu commented on #38
And btw, I have a sample for the ssl yaml:

[code]

What do you think about this?

[2016-06-02 03:15] JJediny opened #152 "Broader Coordination on DevSecOps ongoings"
Really interested in this project as we are move towards salt, but would really like to know how it forsees itself aligning to other similar efforts around automated DevSecOp efforts:
- https://github.com/GovReady
- https://github.com/DevSecOps
- https://github.com/opencontrol

[2016-06-02 12:38] gmiu commented on #38
Initial work for this finished in #151

[2016-06-02 12:39] gmiu commented on #112
At the moment, this is supported by the following module: `stat` and `openssl`.

[2016-06-02 12:42] gmiu commented on #120
@basepi: so, for this we want to have only the "true whitelist"?

[2016-06-06 17:53] basepi commented on #152
I haven't had a chance to look in depth at those projects, but I anticipate we should be able to integrate if desired. We should be able to leverage any existing project using a new nova module.

[2016-06-06 17:55] basepi commented on #120
Yes, I think that makes the most sense for iptables. It seems to me that in 99% of cases, people have a few iptables rules which are acceptable, and want to blacklist all others. This is what I meant by a true whitelist, and I think it makes sense to implement it this way.

[2016-06-09 22:51] basepi opened #155 "Update cve_scan2 to support salt fileserver"
Should support pulling data from `salt://` in addition to from the internet. Should be a pretty simple addition.

[2016-06-09 23:15] dgmorrisjr commented on #155
Perfect - thanks!

[2016-06-14 19:59] ssoto2 opened #157 "CIS Version Information"
Version information should be include in the file or the file name to be able to easy locate corresponding CIS guides

[2016-06-14 21:24] ssoto2 opened #158 "CIS CentOS 6 - CIS-6.2.13"
The CIS version looks to be close to around v1.1
https://security.uri.edu/uploads/CIS_CentOS_Linux_6_Benchmark_v1.1.01.pdf

Per the document it only requires ATLEAST one, but the tool at the moment is requiring all... currently the CIS config file requires all

screenshot:

![selection_009](https://cloud.githubusercontent.com/assets/5123879/16060232/bcf3a450-3254-11e6-9df2-f9d30b6f1e2f.png)

[2016-06-14 21:33] ssoto2 opened #159 "CIS CentOS 6 - CIS-6.2.11"
The config file has a space after the last cipher preventing it from listing complete unless space is include

Screenshot:

![selection_010](https://cloud.githubusercontent.com/assets/5123879/16060511/137496b2-3256-11e6-828d-579f7077203d.png)

[2016-06-15 14:45] ssoto2 opened #160 "CIS CentOS 6 - CIS-6.2.12"
This objective per the documentation is site specific policy... they offer the recommendation but once again advise it should be site specific. With that said the current rule is binary as it must meet the recommendation listed to passed.

This seems like it would be best addressed with idea #123

Screenshot of Documentation
![selection_012](https://cloud.githubusercontent.com/assets/5123879/16084

[2016-06-15 15:07] ssoto2 opened #161 "CIS CentOS 6 - CIS-7.1.3"
The requirement is looking for PASS_WARN_AGE but the conf file is looking for PASS_WARN_DAYS. Due to this the requirement will always fail

Conf
![selection_013](https://cloud.githubusercontent.com/assets/5123879/16085191/3f15cb40-32e9-11e6-822c-b4e1788d1fb3.png)

Document Requirements
![selection_014](https://cloud.githubusercontent.com/assets/5123879/16085228/56d9d28a-32e9-11e6-8e61-942fbc239a2d

[2016-06-16 21:19] jaredhanson11 opened #162 "Control cve_scan based on score"
We were hoping to add additional functionality that allows the cve_scan to only report vulnerabilities under a certain score. Maybe something like
[code]
in the top level of the yaml, that tells hubble to filter low enough scores from the `Failed` to `Controlled` sections of the cve_scan_v2 module.

[2016-06-21 16:35] basepi commented on #40
Initial yaml will look something like this:

[code]

The dictionary format will give us room to grow in the future to support whitelisting certain protocols or processes or the like.

[2016-06-22 15:22] basepi commented on #157
Agreed, this is something we should definitely add.

[2016-06-22 15:22] basepi commented on #157
I'm labeling it as a bug because lack of version information is a problem.

[2016-06-22 15:38] basepi commented on #158
I'll grab this today.

[2016-06-22 15:58] basepi commented on #158
Fixed in #164

[2016-06-22 16:01] basepi commented on #159
Fixed in #165. Thanks for finding this!

[2016-06-22 16:04] basepi commented on #160
I feel like the default CIS nova profile should probably provide an audit using the recommended settings. I anticipate most people will fork this repo and then make small tweaks for their site-specific settings, or use a control config to just ignore that failure.

Not sure how #123 would solve this.

[2016-06-22 16:06] basepi commented on #161
Good catch! Fixed in #166

[2016-06-22 16:07] basepi commented on #162
This seems reasonable, as we discussed in person. Feel free to submit the code you showed me as a pull request.

[2016-06-23 15:41] #161 closed

[2016-06-23 15:41] #159 closed

[2016-06-23 15:41] #158 closed

[2016-06-23 20:06] #40 closed

[2016-06-24 16:29] cedwards commented on #155
@jaredhanson11 please confirm that this is complete and close.

[2016-06-24 16:30] cedwards commented on #145
This was completed and will be merged today in #154 . Closing.

[2016-06-24 16:30] #145 closed

[2016-06-24 16:33] cedwards commented on #131
Should we close this as deprecated in favor of the new v2 scanner?

[2016-06-24 16:35] basepi commented on #131
Probably reasonable.

[2016-06-24 16:35] #131 closed

[2016-06-24 19:46] jaredhanson11 commented on #155
The merge of cve_scan_v2 today will support `salt://` urls as a source of cve data.

[2016-06-24 19:46] #155 closed

[2016-06-28 18:18] jaredhanson11 commented on #162
#170 allows you to control based on score by adding `'control'` in the yaml profile as follows.

[code]

[2016-06-28 18:18] #162 closed

[2016-06-29 15:01] jaredhanson11 opened #173 "False Positives in cve_scan_v2"
Due to inconsistency of version numbers across distros, current logic reports `4.2.10-6.el7_2` as more updated than `4.2.10-6.2.el7_2`.

Ex:
[code]

[2016-06-29 18:38] basepi commented on #173
Weren't we stripping the el7 stuff to fix these types of issues?

[2016-06-29 19:23] basepi commented on #173
We discussed this in meatspace, I think we're just going to split out the el7 piece to compare separately, like we currently do with dashes, iirc.

[2016-06-30 17:31] jaredhanson11 commented on #173
Fixed with #175

[2016-06-30 17:31] #173 closed

[2016-07-01 15:28] cedwards opened #181 "missing_data in windows-2008-r2-scored profile"
@madchills - please have a look at this.

[code]

[2016-07-01 16:33] #181 closed

[2016-07-03 01:22] cedwards opened #185 "in-hubble documentation"
Can we replicate Salt's `sys.doc` within Hubble? ie; `hubble.doc [module]`.

[2016-07-05 21:48] basepi commented on #185
Probably. May take some loader modifications, however.

[2016-07-06 20:22] ssoto2 opened #186 "CIS CentOS 6 - CIS-6.1.11"
error in 6.1.11 found. The system should look for "/etc/at.allow" but it is searching for "/etc/at/allow"

![selection_026](https://cloud.githubusercontent.com/assets/5123879/16633117/ad819408-4395-11e6-8834-c5dbba00f650.png)

CIS 1.1.0 documentation

![selection_027](https://cloud.githubusercontent.com/assets/5123879/16633138/c57efa1e-4395-11e6-9e12-25dd6ac0a088.png)

[2016-07-11 18:12] basepi commented on #186
Good catch, I'll fix this up.

[2016-07-11 18:32] #186 closed

[2016-07-11 20:13] kt97679 opened #189 "hubble.audit fails to run using salt-ssh"
Hi folks,

I'm trying to run hubble.audit using salt-ssh. Here is excerpt from the log I'm getting:

<pre>
[DEBUG   ] In saltenv 'base', looking at rel_path u'_modules/hubble.py' to resolve u'salt://_modules/hubble.py'
[DEBUG   ] In saltenv 'base', ** considering ** path u'/srv/tmp/tmp.KC417vcHF8/cache/files/base/_modules/hubble.py' to resolve u'salt://_modules/hubble.py'
[DEBUG   ] Fetching file

[2016-07-11 21:12] basepi commented on #189
In order to work with salt-ssh, hubble.audit would have to be rewritten as a wrapper function for salt-ssh, since it requires fileserver access.

Instead, I recommend using salt-ssh to install saltstack and hubble via package managers and `spm`, and then using salt-ssh to orchestrate the `salt-call --local` run to do the audit. I don't foresee us having time to support salt-ssh in the near future,

[2016-07-12 17:10] kt97679 commented on #189
Thanks for advise @basepi and it is really unfortunate that Nova can't be run via salt-ssh.

[2016-07-12 20:46] basepi commented on #189
I'm not ruling it out for the future, but since there's a way to workaround, I don't see us spending a lot of time in the near future getting it to run on salt-ssh.

[2016-07-12 20:55] basepi commented on #61
The grep module does support all arguments now.

@dgmorrisjr for this issue, the line you were forgetting was the `match_output`. The check will fail if the string in `match_output` is not found in the output of the grep command. Maybe matching the output is overkill. But I don't think this is a bug in the module, but rather the yaml.

Thoughts?

[2016-07-12 20:57] basepi commented on #61
I'm going to close this since I don't think there's a bug in the grep module. It's working as far as I can tell. We should open a new issue if the check is incorrect and the match_output needs to be removed.

[2016-07-12 20:57] #61 closed

[2016-07-12 20:59] basepi commented on #160
Since I haven't heard from you in awhile, I'm going to close this for now.

[2016-07-12 20:59] #160 closed

[2016-07-12 21:09] basepi commented on #147
@dgmorrisjr Since I never heard back from you here, I'm going to assume it was an indentation issue. Please comment if that's not the case.

[2016-07-12 21:09] #147 closed

[2016-07-12 21:09] basepi commented on #140
This was completed in the pulsar project.

[2016-07-12 21:09] #140 closed

[2016-07-12 21:12] basepi commented on #123
So, focusing back on the core of this issue, I think we should just add a `show_controlled` argument and configuration setting like we did for `show_success`. As far as requisites and whatnot, we should move the discussion about those into new issues.

[2016-07-12 21:13] basepi commented on #120
Did #139 fix this one?

[2016-07-12 21:15] basepi commented on #118
I think this is doable, but will be low on the priority list for now.

[2016-07-12 21:16] basepi commented on #112
Since we've implemented this for all sensible modules so far, I'm going to close this issue. We can open a new one for new modules for which this functionality makes sense.

[2016-07-12 21:16] #112 closed

[2016-07-12 21:17] basepi commented on #97
It appears we will probably be deprecating the original cve_scan module in favor of v2. I'm going to close this issue as a result.

[2016-07-12 21:17] #97 closed

[2016-07-12 21:17] #94 closed

[2016-07-12 21:20] basepi commented on #80
I'm going to close this in favor of #157 I think. That issue will satisfy basic documentation requirements.

[2016-07-12 21:20] #80 closed

[2016-07-12 21:40] basepi commented on #57
Added in https://github.com/HubbleStack/Nova/pull/141

[2016-07-12 21:40] #57 closed

[2016-07-12 21:41] basepi commented on #48
Does this issue need to remain open?

[2016-07-12 21:42] basepi commented on #47
Restructure: https://github.com/HubbleStack/Nova/pull/184

[2016-07-12 21:42] #47 closed

[2016-07-12 21:42] basepi commented on #38
Closing since this is finished.

[2016-07-12 21:42] #38 closed

[2016-07-12 22:02] kt97679 commented on #189
Unfortunately this workaround is not really working for us since we try to minimize installed stuff in our secure environment.

[2016-07-14 15:46] jrporcaro opened #191 "spm local install hubblestack_nova-latest.spm stack traces on 2016.3.1"
if I follow the SPM Install instructions it fails with the following:

[root@jpsalt vagrant]# spm local install ./hubblestack_nova-latest.spm
[ERROR   ] An un-handled exception was caught by salt's global exception handler:
KeyError: "filename '/FORMULA' not found"
Traceback (most recent call last):
  File "/bin/spm", line 12, in <module>
    salt_spm()
  File "/usr/lib/python2.7/site-packages/sal

[2016-07-14 17:15] cedwards commented on #191
@jrporcaro - I discovered this just yesterday myself, but I wonder if it's actually within SPM itself. It looks like installing the versioned package works without a Traceback. eg;

[code]

I'll ping Joseph about it in more detail.

[2016-07-14 17:41] jrporcaro commented on #191
that may be an SPM issue. Thanks.

On Thu, Jul 14, 2016 at 11:15 AM, Christer Edwards <notifications@github.com

##

Jeff Porcaro
VP, Engineering
SaltStack

[2016-07-15 17:58] cedwards commented on #191
I'm going to close this as an upstream bug. The documentation has been updated to reflect working around this issue.

[2016-07-15 17:58] #191 closed

[2016-07-18 20:52] basepi commented on #189
If you wanted to investigate implementing this yourself, I would recommend looking at the existing salt-ssh wrapper functions: https://github.com/saltstack/salt/tree/develop/salt/client/ssh/wrapper

We'll have to write one of these for hubble, to get all of the files deployed to the minion so we can run the audit locally on the minion.

The wrapper file will have to be manually placed within that

[2016-07-18 20:55] basepi commented on #189
I also opened a feature request upstream to help: https://github.com/saltstack/salt/issues/34761

[2016-07-18 20:56] kt97679 commented on #189
Thanks for clarification @basepi . After some thought we decided that we will use https://github.com/ovh/debian-cis

[2016-07-18 20:56] basepi commented on #189
👍

[2016-07-18 23:10] jaredhanson11 commented on #157
Closed in #190

[2016-07-18 23:10] #157 closed

[2016-07-21 21:28] mew1033 opened #198 "missing_data errors on hubble.load"
When running `salt-call hubble.load`, there are missing_data errors for windows and debian:

    missing_data:
        ----------
        /cis/debian-8-level-1-scored-v1.0.0.yaml:
            while parsing a block mapping
              in "/var/cache/salt/minion/files/base/hubblestack_nova/cis/debian-8-level-1-scored-v1.0.0.yaml", line 8, column 15
            expected <block end>, but found '<sca

[2016-07-21 21:28] basepi commented on #198
Thanks for opening this. We'll get it fixed.

[2016-07-21 21:32] basepi commented on #198
@madchills I'm going to assign this to you so you can look into the windows profile failures -- ping me if you run into issues.

I'll also assign myself, I'll look at the debian failures.

[2016-07-26 19:43] basepi commented on #198
#200 fixes the debian profile. I'll leave the others to @madchills.

[2016-07-26 23:15] jrporcaro opened #201 "hubble.audit doesn't allow me to specify saltenv on commandline"
I need to be able to supply the saltenv on the commandline. so I can have my hubblestack top.nova and yaml definition files located in a different environment than base. This way I will not have to change the config file.

for example  salt '*' hubble.sync saltenv=hubble

[2016-07-27 15:23] mew1033 commented on #89
Fixed in https://github.com/HubbleStack/Nova/pull/197
?

[2016-07-27 16:03] basepi commented on #89
Yep! Not sure why it didn't auto-close. Guess I forgot to add the "Fixes" line for auto-close.

[2016-07-27 16:03] #89 closed

[2016-08-01 00:31] cedwards opened #204 "AttributeError: PyinotifyLogger instance has no attribute 'trace'"
Nova fails if Pulsar is active with the following error:

[code]

This only seems to affect my CentOS 6 systems.

[code]

Note: this only fails when the master sends the command. Replicating the issue with `salt-call` doesn't seem to work.

[2016-08-02 23:58] basepi opened #208 "Both win2012/win2008 profiles are targeting osfullname of win2012"
See `windows-2008r2-level-1-scored-v3-0-0` and `windows-2012r2-level-1-scored-v2-0-0`

[2016-08-03 21:01] basepi commented on #204
This is caused by https://github.com/seb-m/pyinotify/issues/26 and is fixed in pyinotify 0.9.6.

I'm thinking we need to find a way to get a newer version, rather than trying to work around this. But I'll ping you on slack.

[2016-08-03 21:44] basepi commented on #204
Fixed in #211

[2016-08-03 21:44] #204 closed

[2016-08-04 01:43] cedwards opened #215 "Nova schedule documentation"
The README now includes a section on scheduling Nova audits. Is any returner information required to send this data somewhere useful? What would that syntax look like in full?

[2016-08-04 05:23] madchills commented on #208
This should be fixed in my most recent round of bug fixes.

[2016-08-04 05:23] #208 closed

[2016-08-04 05:23] madchills commented on #198
This should be fixed in my most recent round of bug fixes

[2016-08-04 17:06] basepi commented on #215
Oh, right, I totally forgot returners. I also found `return_job: False` in the scheduler docs, which will be a very useful setting. We need to make sure `return_job: False` doesn't disable an explicit `returner:` setting.

[2016-08-04 17:24] #198 closed

[2016-08-08 22:37] basepi commented on #215
Done in #224. Tested and working.

[2016-08-08 22:37] #215 closed

[2016-08-09 15:43] fdamstra opened #225 "rhels-6-level-1-scored-v2-0-1.yaml: CIS-5.2.15 multiple issues"
In rhels-6-level-1-scored-v2-0-1.yaml, CIS-5.2.1 is first in there correctly (checking permissions on /etc/ssh/sshd_config), but later appears in a rule that is actually 5.2.15. There are issues with this latter rule:
1. Need to update 5.2.1 to 5.2.15
2. Need to fix description. The description matches 5.2.1, should be "Ensure SSH access is limited"
3. The test appears to require that all four ("A

[2016-08-09 15:45] fdamstra opened #226 "rhels-6-level-1-scored-v2-0-1.yaml: 5.2.5 should support values less than 4"
CIS-5.2.5 requires the exact match of "MaxAuthTries 4". It should support any value <= 4.

Other CIS modules should be checked as well.

[2016-08-09 15:47] fdamstra opened #227 "rhels-6-level-1-scored-v2-0-1.yaml: CIS-7.4 should be CIS-5.4.4, or is duplicated"
The module has an entry for CIS-7.4 which doesn't exist in the benchmark. Initial investigation suggests that this should be 5.4.4 and that it's a duplicate.

Other CIS modules should be checked as well.

[2016-08-09 15:50] fdamstra opened #228 "rhels-6-level-1-scored-v2-0-1.yaml: CIS-5.2.11 Requires unnecessary whitespace"
The module rule for CIS-5.2.11 requires that the 'Ciphers' line in sshd_config have trailing whitespace. This causes false positives on valid configurations that end the line after the third cipher.

This should match EOL ($) instead, or in addition.

Other CIS modules should be checked, as well.

[2016-08-19 09:30] gmiu commented on #48
@basepi, I'm currently working to support the true whitelist and the default policy in the new version of iptables.

[2016-08-19 09:47] gmiu commented on #48
@cedwards, should we consider supporting `firewalld` also?

[2016-08-19 10:55] gmiu commented on #120
@basepi: #139 covers only the building of the rule. I think we can close this issue and open another one for the true whitelist.

[2016-08-19 10:59] gmiu commented on #48
Since the iptables modules does its job, I will close this and open a new one for the default policy and for the true whitelist.

[2016-08-19 10:59] #48 closed

[2016-08-19 11:00] #120 closed

[2016-08-19 11:03] avb76 opened #234 "Make the iptables module to work using a true whitelist"
"It seems to me that in 99% of cases, people have a few iptables rules which are acceptable, and want to blacklist all others."

[2016-08-19 11:07] avb76 opened #235 "Make the iptables module to support checking the default policy of a chain"
The `iptables` module would support the possibility of checking the default policy for a chain. The yaml format would look something like this:

[code]

[2016-09-08 19:15] thatch45 opened #245 "Define audit output based on audit"
Right now when we get the return data from hubble and we run multiple audits, all of the audit's return data is squished together, would it work to change the return structure to be more like this:

[code]
Thanks!

[2016-09-08 19:28] basepi commented on #245
It could work, theoretically. We've talked about it internally.

The biggest problem is generality. I tried to keep the return structure as boring and simple as possible. This allows us to do things like compliance percentages very easily. But we did discover that we wanted to know from which profile a check originated. So we added `show_profile` as an argument to hubble.audit and hubble.top, so t

[2016-09-08 19:30] thatch45 commented on #245
That should solve my problem, sorry to use your issue tracker for what turned out to be an expression of my RTFM!

[2016-09-08 19:30] #245 closed

[2016-09-08 19:32] basepi commented on #245
Hahaha, no worries. :)

[2016-09-13 21:29] zxjinn opened #247 "Splunk indexer should be able to accept an array of parameters"
Same goes for Pulsar.

When specifying an array of indexers it throws an error
[code]

I would expect it to jump randomly between all entries for load balancing, until one is found that works (doesn't timeout or otherwise throw an error).

[2016-09-13 22:01] zxjinn commented on #247
Opened ticket in [Quasar](https://github.com/HubbleStack/Quasar) instead, makes much more sense for the issue to be there. See https://github.com/HubbleStack/Quasar/issues/23

[2016-09-13 22:01] #247 closed

[2016-09-13 23:38] basepi commented on #247
Thanks! I answered over in quasar land.

[2016-09-14 19:42] sainineeraj opened #248 "TypeError issue with Debian"
I am getting a typeerror while running Hubble.audit. Submitting the issue here as instructed by Christer, I have pasted all logs and versions here

# Wget Nova package

[code]

# Upgraded Salt & nova install

[code]

# Syncing module to minion

[code]

# Error running Audit

[code]

[code]

[code]

[2016-09-14 20:24] basepi commented on #248
@sainineeraj Could you please ssh to mid511b1.frb3.neolane.net and run `salt-call -ldebug hubble.audit` and post the results here? The debug output should have the whole traceback, which will be more informative as to the issue.

[2016-09-15 17:39] sainineeraj commented on #248
[code]

[2016-09-15 17:41] sainineeraj commented on #248
@basepi - thanks for looking into it! uploaded results from debug

[2016-09-15 19:37] basepi commented on #248
Can you please run the following in a python shell?

[code]

Yours should show python 2.6 when python starts. What I'm looking for is the path at the end. Mine shows `/usr/lib/python2.7/site-packages/salt/loader.pyc`, yours could show differently.

I want you to go to that path, but to the .py file, not the .pyc file, and post the contents of that file here. Something odd is going on with your sal

[2016-09-15 20:55] sainineeraj commented on #248
[22:52:51][root@mid511b1] ~ # python
Python 2.6.6 (r266:84292, Aug 12 2014, 07:57:00)
[GCC 4.4.5] on linux2
Type "help", "copyright", "credits" or "license" for more information.

[2016-09-15 20:57] basepi commented on #248
Can you show me the contents of `/usr/lib/python2.6/dist-packages/salt/loader.py` please?

[2016-09-15 20:57] sainineeraj commented on #248
@basepi  here you go:

https://gist.github.com/basepi/8978cceba3502bbef7d592971265545e

(Edited to replace long content with a gist)

[2016-09-15 20:58] basepi commented on #248
Whoops, probably should have had you gist that....

[2016-09-15 21:00] basepi commented on #248
Well, that file does match your error. However, it doesn't match Salt v2016.3.3. I'm not sure where that file came from, trying to track it down.

[2016-09-15 21:09] basepi commented on #248
As we discussed on Slack, your minions need to be on salt 2015.5 or greater.

[2016-09-15 21:10] #248 closed

[2016-09-22 17:17] vulnersCom opened #255 "Suggest of using Vulners Linux Audit API"
Hi!
Thanks for using our DB, at first.
We release Linux Audit API and it will be very cool, if you will add it :)

It provides API for vulnerability scan.
As input it takes "rpm -qa" for RPM based systems and "dpkg-query -W -f='${Package} ${Version} ${Architecture}\n'" for Debian family.

GUI is here: https://vulners.com/#audit
Description here: https://blog.vulners.com/linux-vulnerability-audit-i

[2016-09-22 18:58] basepi commented on #255
Very cool! We'll look into getting it added.

[2016-09-27 17:15] rterbush opened #257 "Matches on pam configuration files failing"
Completely stumped as to why this is failing. Possibly related to the report in #61

Currently focused on <code>CIS-5.3.4: Ensure password hashing algorithm is SHA-512</code>

grep at the command line matches on the file

[code]

The above should be enough to satisfy the CIS rule. As described below

[code]

Note: this current pattern deviates from the current file in develop branch which does not

[2016-09-27 17:28] rterbush commented on #257
Here is output from minion log that might help:

[code]

Not clear to me if this is two commands happening in parallel?

[2016-09-27 20:20] basepi commented on #257
I assume the check is in the `whitelist` section of `grep` in the profile?

[2016-09-27 20:22] basepi commented on #257
The two commands are not happening in parallel. Note the `retcode: 1` from the command we're worried about. Grep isn't finding that pattern. The question is why...

[2016-09-27 20:23] basepi commented on #257
Could it be the lack of quoting on the command as shown in the logs? Perhaps try this:

[code]

The double quotes should make it through to the grep command. Curious if it makes a difference.

[2016-09-27 21:04] rterbush commented on #257
A bit obvious when I look at it and the one combination I did not try...

PR submitted.

[2016-09-28 19:23] basepi opened #263 "Create "or" mechanism for grep module"
See the review comments on https://github.com/HubbleStack/Nova/pull/260 for examples. We either need to fix those examples with new `misc.py` checks, or allow for OR-ing in grep.py.

[2016-09-28 19:57] basepi opened #265 "For a win_reg failure, add the actual value to the verbose output"
We were trying to debug a win_reg failure, and realized that it would be really nice if the module stuck the actual value it found into the verbose output. That way we wouldn't have to dive into the registry ourselves to see why it didn't match.

@anuragpaliwal80

[2016-09-30 19:01] madchills commented on #265
Submitted fix that will give you the value (found_value) when running verbose mode

[2016-10-01 07:48] basepi commented on #265
Sweet! I merged it.

[2016-10-01 07:48] #265 closed

[2016-10-31 18:51] #257 closed

[2016-11-03 20:49] cedwards opened #279 "cve-scan-v2 KeyError in version comparison"
[code]

[code]

[2016-11-07 18:01] davegiles opened #281 "win_firewall.py & win_reg.py returning execeptions"
installed new salt-master, hubblestack & minions today...

    root@master:~# salt 'win*' hubble.audit verbose=True
    win2012r2:
        ----------
        Compliance:
            26%
        Errors:
            |_
              ----------
              \win_firewall.py:
                  ----------
                  data:
                      IndexError: list index out of range

[2016-11-09 01:50] cedwards commented on #279
Still running into this, but only on CentOS 7.2. My initial guess is that it's specific to underlying differences in the yumpkg / yum / rpm libraries in Salt.

@jaredhanson11

[2016-11-09 13:12] vulnersCom commented on #255
Hello, fellows!
We see a lot of  /api/v3/archive/distributive/ calls at our serverside.
So, just as gentle reminder, maybe we will switch to much more traffic economy /api/v3/audit API? :)

[2016-11-09 17:03] basepi commented on #255
Hehe, thanks for the reminder @vulnersCom. We definitely need to do that. Sorry for the increased traffic! :)

[2016-11-09 22:02] basepi commented on #281
What version of nova did you install?

[2016-11-10 08:56] vulnersCom commented on #255
No a problem)) We are glad to be useful))
If there will be any issues with audit API feel free to ask me.

[2016-11-11 14:34] davegiles commented on #281
hubblestack_nova-2016.10.2-1.spm
hubblestack_nova_profiles-20161101-1.spm

[2016-11-11 23:20] basepi commented on #281
Could you get us some debug logs? The easiest way is to go to the server in question, and run it with `salt-call`. On windows, I think this should work:

[code]

The logs will be long, please don't just paste them here, put them in gist.github.com or similar. But they should point us to the underlying errors so we can fix them.

[2016-11-18 20:18] davegiles commented on #281
https://gist.github.com/davegiles/ddab492864534364a9cfd229e441eed1

[2016-11-18 21:47] basepi commented on #281
I'm pretty certain both of these bugs have been fixed.

The first error has been fixed in v2016.10.2, in the python code. I think you may have forgotten to run `salt '*' -saltutil.sync_all` when you last upgraded. In the stacktrace you posted from your debug logs, it shows a different Line 235 than [the one in v2016.10.2](https://github.com/HubbleStack/Nova/blob/v2016.10.2/hubblestack_nova/win_fir

[2016-11-23 16:05] vulnersCom commented on #255
Hi, guys! Any help maybe ?)

[2016-11-23 16:28] gmiu commented on #255
@vulnersCom, I will take a look over this during the next period! Maybe then :)

[2016-11-30 18:10] lorengordon opened #282 "Compliance scanning for cloud providers"
Would be awesome if we could use hubblestack to scan for compliance against cloud provider benchmarks, such as this one, https://aws.amazon.com/blogs/security/tag/cis-aws-foundations-benchmark/

[2016-11-30 20:53] basepi commented on #282
This would be great! Thanks for the request!

[2016-12-09 14:04] gmiu commented on #279
@cedwards, @basepi, I am unable to reproduce the issue on CentOS 7.2. The only difference between the two versions report is the kernel release.

[code]

[2016-12-09 14:41] gmiu commented on #279
I forgot to mention that I have installed `Nova-2016.10.2`.

[2016-12-09 18:24] basepi commented on #279
Yeah, in my experience it doesn't happen everywhere. @cedwards do you have a box that can reproduce this?

[2016-12-12 23:46] mew1033 opened #283 "Missing CIS checks"
centos-6-level-1-scored-v2-0-1.yaml is missing a few checks:

- [x] 5.2.12
- [x] 5.2.14
- [ ] 5.2.15

Possibly more, but that's what I've found.

[2016-12-13 00:14] mew1033 commented on #283
PR #284 adds in 5.2.12 and 5.2.14

[2016-12-13 16:14] cedwards commented on #279
I'm going to close this as I can no longer recreate either.

[2016-12-13 16:14] #279 closed

[2016-12-13 17:54] basepi commented on #283
Perfect. I modified the original issue with a checklist.

[2016-12-15 18:20] ssoto2 opened #285 "CIS CentOS 7 - 6.2.11"
In the centos-7-level-1-scored-v1.yaml

6.2.11 is looking for the following:

[code]

The addition space at the end of the match output is causing test to fail unless your sshd config had a space at the very end also.

[2016-12-15 20:24] basepi commented on #285
Good catch! I'll fix that shortly.

[2016-12-16 00:26] #285 closed

[2016-12-19 14:46] ssoto2 opened #287 "CIS CentOS 7 - CIS-1.5.1"
Per the CIS documentation https://benchmarks.cisecurity.org/tools2/linux/CIS_CentOS_Linux_7_Benchmark_v1.1.0.pdf

/boot/grub2/grub.cfg should be updated, but in centos-7-level-1-scored-v1.yaml it is looking for /etc/grub2/grub.cfg this is causing this check to fail

[2016-12-19 14:47] ssoto2 opened #288 "CIS CentOS 7 - CIS-1.5.2"
Per the CIS documentation https://benchmarks.cisecurity.org/tools2/linux/CIS_CentOS_Linux_7_Benchmark_v1.1.0.pdf

/boot/grub2/grub.cfg should be updated, but in centos-7-level-1-scored-v1.yaml it is looking for /etc/grub2/grub.cfg this is causing this check to fail

[2016-12-19 15:20] ssoto2 opened #289 "CIS CentOS 7 - CIS-6.1.11"
In the centos-7-level-1-scored-v1.yaml it is looking for the following conditions

![selection_111](https://cloud.githubusercontent.com/assets/5123879/21317776/96c9caca-c5d4-11e6-854f-e1715ae4ff2b.png)

The code is looking for "/etc/at/allow" instead of "/etc/at.allow". Due to this the audit is failing

https://benchmarks.cisecurity.org/tools2/linux/CIS_CentOS_Linux_7_Benchmark_v1.1.0.pdf

[2016-12-19 15:48] ssoto2 opened #290 "CIS CentOS 7 - CIS-3.6"
Current the centos-7-level-1-scored-v1.yaml is looking for the following

![selection_112](https://cloud.githubusercontent.com/assets/5123879/21318707/5a73890e-c5d8-11e6-8257-0f3231c39aac.png)

But per the CIS https://benchmarks.cisecurity.org/tools2/linux/CIS_CentOS_Linux_7_Benchmark_v1.1.0.pdf

The audit should be looking for the following lines

restrict default kod nomodify notrap nopeer noque

[2016-12-19 16:00] #290 closed

[2017-01-03 17:03] basepi commented on #290
Is this one actually not an issue? Wanted to make sure you intended to close it.

[2017-01-03 17:03] basepi commented on #289
Looks like @avb76 is on it. Thanks for the report!

[2017-01-03 17:04] basepi commented on #288
Thanks for the report, we'll get this fixed.

[2017-01-03 17:05] basepi commented on #287
I'm going to add this to #288 to keep things cleaner.

[2017-01-03 17:05] #287 closed

[2017-01-03 17:05] basepi commented on #288
Also needs to be fixed on CIS-1.5.1

[2017-01-04 14:47] arthurlogilab opened #291 "spm install does not deploy hubblestack_nova (only hubblestack_nova_profiles)"
spm install https://docs.hubblestack.io/en/latest/nova/README.html#installation-packages

first time using spm I only get :

[code]

I think hubblestack_nova is missing.

[code]

[2017-01-04 14:58] arthurlogilab opened #292 "debug=True verbose=True and show_profile=True don't add any information"
Am trying to figure out why I get ```No audits matched this host in the specified profiles.```

Adding verbose & debug & show_profile don't add any extra information.

[code]

I would expect at least cve-scan-2 to be run (kernel:Linux targeting).

[2017-01-04 15:01] arthurlogilab opened #293 "running salt \* hubble.sync multiple times displays multiple times the file list"
When running hubble.sync one can see the list of files synced with the minion. I am a bit surprised to see the same list when running it twice in a row. All the sync commands in salt will display only new files being synced. Does that mean all files are copied every time ? or just that the display does not show only new files ?

[2017-01-04 20:26] basepi commented on #291
I think there's a separate SPM package for the modules. Note the two sections in that installation doc with two separate SPM packages.

[2017-01-04 20:28] basepi commented on #292
Can you double check that salt generated the `kernel` grain as `Linux` properly? `salt-call grains.get kernel`

Also can you do a `salt-call cp.cache_file salt://hubblestack_nova_profiles/top.nova` and then post the contents of `/var/cache/salt/minion/files/base/hubblestack_nova_profiles/top.nova` just so we can make sure it's looking at the topfile we expect?

[2017-01-04 20:30] basepi commented on #293
`cp.cache_dir` returns all files that are cached in that directory, not just new files, and we clean up this list a little bit (trimming cachedir information) and then return it as it is.

[2017-01-04 20:31] #293 closed

[2017-01-04 20:31] basepi commented on #293
I think I answered your question, but feel free to continue discussing and I can re-open this issue if necessary.

[2017-01-05 08:10] arthurzenika commented on #292
[code]

[2017-01-05 08:11] arthurzenika commented on #291
@basepi oh, sorry I missed that. RTFM to me then. Thanks for your answer.

[2017-01-05 08:11] #291 closed

[2017-01-05 16:11] basepi commented on #292
Hmm. What version of nova do you have installed? If it's a recent one you can just do `salt-call hubble.version`

[2017-01-08 15:38] vulnersCom commented on #255
Gentle Ping :)

[2017-01-11 03:12] bortels opened #294 "Should tags be globally unique?"
Sorting thru some output:

CIS-6.1.3 = "/etc/anacrontab file be owned by root and must have permissions 600 (Scored)"
CIS-6.1.3 = "Ensure permissions on /etc/shadow are configured"

This is because I have a mixed environment (Centos and RHEL of multiple versions), and so the output is mixed. But it does mean that a tag like 'CIS-6.1.3' is not a globally unique way to talk about a given rule. To ma

[2017-01-11 16:29] basepi commented on #294
This is one of the things which frustrates me most about the CIS standard. How did they not use some sort of unique naming scheme so that checks have the same heading number across distributions??? Or at the very least across different versions for the same distribution.

I wouldn't necessarily be against renaming the tags to make them more globally unique. Though I think the descriptions mostly h

[2017-01-11 16:34] dgmorrisjr commented on #294
I completely agree that what we really care about is the substance of what is being checked.

However, if you have a system/environment that is being reviewed by security auditors, they really care about ensuring that all reports of compliance/non-compliance are reported accurately according to the CIS numbering scheme. Or in the case of the DoD or IC… they care about STIG numbering schema.   And

[2017-01-11 21:23] bortels commented on #294
So - a bit more grist for the mill. I managed to audit 4000ish servers of mixed vintage (yay!) and am looking now at anomalies. Here's a juicy one:

Centos 6 v2 tag CIS-5.2.13 "Ensure SSH Idle Timeout Interval is configured" is showing up on some servers as both "Success" and "Failure" - presumably because of the two check items, one is correct, and one is not. So - the unique tag is more than jus

[2017-01-11 21:43] basepi commented on #294
Yes, because of audits like that that have multiple pieces I don't enforce global tag uniqueness. Your rename wouldn't solve the problem of a check both succeeding and failing though, would it?

[2017-01-12 00:51] mew1033 commented on #294
I actually like the idea of leaving the tag numbers as they are. It's incredibly annoying if you look at it in a silo, but if you also have the profile name, then you've got a pretty unique check/number set you can rely on. So for example, I can say that I care about nova profile centos-6-level-1-scored-v1, check CIS-6.2.3, as well as centos-6-level-1-scored-v2-0-1, check CIS-5.2.1. The numbers ar

[2017-01-12 16:29] basepi commented on #294
Note that you can get the profile name in the verbose output with `verbose=True show_profile=True` when you call the audit. You can also set these settings in your minion config or pillar to make them happen for every call.

[2017-01-31 15:48] bbanzai commented on #292
Having the same issue... the hubble version is 2016.10.1 and all values are same as shown.
Saltmaster  is Ubuntu 16.04, Vagrant and a fresh install
file_roots, fileserver_backend.. etc is set and am using gitfs

[2017-02-01 21:20] basepi commented on #292
I don't think we have an Ubuntu 16.04 profile yet, so that's probably the source of your problem. I also realized that if you don't have any CVE vulnerabilities, you won't get cve_scan output, so everything may be working as intended.

[2017-02-01 22:06] bbanzai commented on #292
this:  No audits matched this host in the specified profiles.  also happened on 14.04, but I can confirm again.

[2017-02-01 22:19] basepi commented on #292
14.04 should definitely be working, so keep me posted on that.

The "no audits matched" will happen if there are no failures or successes reported. Since cve_scan_v2 only reports failures, then if there are no vulnerabilities, that message will be shown. It's a bug I need to fix.

[2017-02-03 16:32] bbanzai commented on #292
Ok, quick update 14.04 works..  We will work to understand the profiles better.  Thank you for the response.

[2017-02-28 14:03] gmiu commented on #289
Fixed in #306

[2017-02-28 14:03] #289 closed

[2017-03-07 22:48] basepi commented on #51
This issue was moved to hubblestack/hubble-salt#29

[2017-03-07 22:48] #51 closed

[2017-03-07 22:48] basepi commented on #52
This issue was moved to hubblestack/hubble-salt#30

[2017-03-07 22:48] #52 closed

[2017-03-07 22:49] basepi commented on #60
This issue was moved to hubblestack/hubble-salt#31

[2017-03-07 22:49] #60 closed

[2017-03-07 22:49] basepi commented on #88
This issue was moved to hubblestack/hubble-salt#32

[2017-03-07 22:49] #88 closed

[2017-03-07 22:50] basepi commented on #123
This issue was moved to hubblestack/hubble-salt#33

[2017-03-07 22:50] #123 closed

[2017-03-07 22:50] basepi commented on #130
This issue was moved to hubblestack/hubble-salt#34

[2017-03-07 22:50] #130 closed

[2017-03-07 22:51] basepi commented on #152
This issue was moved to hubblestack/hubble-salt#35

[2017-03-07 22:51] #152 closed

[2017-03-07 22:51] basepi commented on #185
This issue was moved to hubblestack/hubble-salt#36

[2017-03-07 22:51] #185 closed

[2017-03-07 22:51] basepi commented on #189
This issue was moved to hubblestack/hubble-salt#37

[2017-03-07 22:51] #189 closed

[2017-03-07 22:51] basepi commented on #201
This issue was moved to hubblestack/hubble-salt#38

[2017-03-07 22:51] #201 closed

[2017-03-07 22:52] basepi commented on #225
This issue was moved to hubblestack/hubble-salt#39

[2017-03-07 22:52] #225 closed

[2017-03-07 22:52] basepi commented on #226
This issue was moved to hubblestack/hubble-salt#40

[2017-03-07 22:52] #226 closed

[2017-03-07 22:52] basepi commented on #227
This issue was moved to hubblestack/hubble-salt#41

[2017-03-07 22:52] #227 closed

[2017-03-07 22:52] basepi commented on #228
This issue was moved to hubblestack/hubble-salt#42

[2017-03-07 22:52] #228 closed

[2017-03-07 22:53] basepi commented on #263
This issue was moved to hubblestack/hubble-salt#43

[2017-03-07 22:53] #263 closed

[2017-03-07 22:53] basepi commented on #281
This issue was moved to hubblestack/hubble-salt#44

[2017-03-07 22:53] #281 closed

[2017-03-07 22:53] basepi commented on #282
This issue was moved to hubblestack/hubble-salt#45

[2017-03-07 22:53] #282 closed

[2017-03-07 22:53] basepi commented on #283
This issue was moved to hubblestack/hubble-salt#46

[2017-03-07 22:53] #283 closed

[2017-03-07 22:53] basepi commented on #288
This issue was moved to hubblestack/hubble-salt#47

[2017-03-07 22:53] #288 closed

[2017-03-07 22:53] basepi commented on #292
This issue was moved to hubblestack/hubble-salt#48

[2017-03-07 22:53] #292 closed

[2017-03-07 22:53] basepi commented on #294
This issue was moved to hubblestack/hubble-salt#49

[2017-03-07 22:53] #294 closed

[2017-03-07 22:55] basepi commented on #118
This issue was moved to hubblestack/hubble-salt#50

[2017-03-07 22:55] #118 closed

[2017-03-07 22:55] basepi commented on #119
This issue was moved to hubblestack/hubble-salt#51

[2017-03-07 22:55] #119 closed

[2017-03-07 22:55] basepi commented on #234
This issue was moved to hubblestack/hubble-salt#52

[2017-03-07 22:55] #234 closed

[2017-03-07 22:56] basepi commented on #235
This issue was moved to hubblestack/hubble-salt#53

[2017-03-07 22:56] #235 closed

[2017-03-07 22:56] basepi commented on #255
This issue was moved to hubblestack/hubble-salt#54

[2017-03-07 22:56] #255 closed